/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header .logo {
	width: 48px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar-header {
	padding: 0rem 7px;
}

.logo-div {
	padding: 5px 0px !important;
}

.logo {
	width: 130px;
	height: 48px;
}

.admin-img {
	border-radius: 0px;
	padding: 0px;
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
	margin: 0px;
}

.file-custom {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	height: calc(2.75rem + 2px);
	padding: 0.5rem 1rem;
	line-height: 1.25;
	color: #555;
	background-color: #fff;
	border: 0.075rem solid #ccd6e6;
	border-radius: 0.25rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

.phone::-webkit-inner-spin-button,
.phone::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

.phone {
	-moz-appearance: textfield !important;
}

.nav-pills.flex-column .nav-link {
	border-radius: 0 !important;
	border: 1px solid #ccd6e6;
	color: #585c5d;
	margin-top: -1px;
	text-align: center;
	word-wrap: normal;
	padding: 10px 0;
}

.nav-link.active {
	color: #fff !important;
}

.nav-pills.nav-pills-no-bd li:first-child {
	margin-left: 0 !important;
}

.nav-pills.nav-pills-no-bd li {
	margin-left: 15px !important;
}

.nav-pills .nav-link {
	padding: 10px 20px;
}

.nav-pills>li>.nav-link {
	margin-left: -1px;
	border-radius: 20px !important;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #ccd6e6;
	color: #585c5d;
}

img.admin-setting-img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 293px;
}

@media (max-width: 767.98px) {

	.navbar-dark .navbar-header .navbar-nav .nav-link,
	.navbar-semi-dark .navbar-header .navbar-nav .nav-link {
		color: #1b2942;
	}
}

.table thead th,
.table tbody td {
	vertical-align: middle;
}

.table.table-bordered img {
	max-width: 70px;
	max-height: 70px;
	object-fit: cover;
}